<!-- add_question.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add MCQ Question</title>
</head>
<body>
    <h1>Add MCQ Question</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.question.label }}<br>
            {{ form.question(size=50) }}<br>
            {% for error in form.question.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.option1.label }}<br>
            {{ form.option1(size=50) }}<br>
            {% for error in form.option1.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.option2.label }}<br>
            {{ form.option2(size=50) }}<br>
            {% for error in form.option2.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.option3.label }}<br>
            {{ form.option3(size=50) }}<br>
            {% for error in form.option3.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.option4.label }}<br>
            {{ form.option4(size=50) }}<br>
            {% for error in form.option4.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <!-- Repeat similar blocks for option2, option3, and option4 -->
        <div>
            {{ form.correct_option.label }}<br>
            {{ form.correct_option }}<br>
            {% for error in form.correct_option.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>
