{% extends 'app.html' %}
{% block content %}


<div class="container">
  <h2>Welcome to the Dashboard</h2>
  <p>Welcome, {{ session.username }}!</p>
  <!-- <p1> Your email is: {{ user[2] }}</p1> -->
    {% if user %}
        <p>user information</p>
        <ul>
            <li>Name : {{ user[1] }}</li>
            <li>Email : {{ user[2] }}</li>
        </ul>
        <a href="/take_exam" class="btn btn-dark">Take Exam</a>
        <a href="/user_result" class="btn btn-dark">Result</a>
        <a href="/logout" class="btn btn-dark">Logout</a>
    {% endif %}
</div>

{% endblock %}
