<!DOCTYPE html>
<html>
<head>
    <title>MCQ Exam</title>
</head>
<body>
    <h1>MCQ Exam</h1>
    <form action="{{ url_for('submit_exam') }}" method="post">
        <ul>
            {% for question in questions %}
            <li>
                <p>{{ question[1] }}</p>
                <ol type="a">
                    <li><input type="radio" name="{{ question[0] }}" value="1">{{ question[2] }}</li>
                    <li><input type="radio" name="{{ question[0] }}" value="2">{{ question[3] }}</li>
                    <li><input type="radio" name="{{ question[0] }}" value="3">{{ question[4] }}</li>
                    <li><input type="radio" name="{{ question[0] }}" value="4">{{ question[5] }}</li>
                </ol>
            </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
