<!DOCTYPE html>
<html>
<head>
    <title>MCQ Questions</title>
</head>
<body>
    <h1>Multiple Choice Questions</h1>
    <ul>
        {% for question in questions %}
        <li>
            <p>{{ question[1] }}</p>
            <ol type="a">
                <li>{{ question[2] }}</li>
                <li>{{ question[3] }}</li>
                <li>{{ question[4] }}</li>
                <li>{{ question[5] }}</li>
            </ol>
            <p>Correct Option: {{ question[6] }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
